body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  opacity: 5;
 
}
body::after{   
    content: "";
    background-image: url("https://cdn.shopify.com/app-store/listing_images/0acf71ea227f225b08ce559a9b6ee9ec/banner/CLuf/cf0lu8CEAE=.png");
    background-size: cover;
    background-color: rgba(207, 170, 231, 0.63);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
#root{
  opacity: 2;
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
}

.input {
  border: 1px solid #333;
  border-radius: 1em;
  padding: 1rem;
  width: 10em;
  box-shadow: 3px 3px 5px rgb(243, 224, 224);
}

select {
  margin-left: 2rem;
  width:10em;
  border-radius: 1em;
  padding: 1rem;
  box-shadow: 3px 3px 5px rgb(243, 224, 224);
  width: 10em;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
.footer{
  font-size: .8em;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}